body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background: #007bff;
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 24px;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    margin-top: 20px;
}

.label {
    font-weight: bold;
}

img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
